body {
  background: #f4f6f9;
}

.sidebar {
  width: 220px;
  min-height: 100vh;
  background: #212529;
}

.sidebar .nav-link {
  color: #ddd;
  cursor: pointer;
}

.sidebar .nav-link:hover {
  background: #0d6efd;
  color: white;
}

.card {
  padding: 20px;
  border-radius: 12px;
}
